
.bg-box{
    background-image: url(img/pole-zelen-trava-dom-derevya.webp);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    display: block;
    background-color: green;
    background-image: url(img/lamp-png-34914.png),url(img/58eb07b830eab15b56162788.png),url(img/3F3F.webp), url(img/green-png-44873.png);
    background-repeat: repeat-x,  repeat-y,repeat-y, repeat-x;
    background-size: 60px,  45px, 45px, 200px ;
    background-position: top, right, left, bottom;
   
    
}

