body{
    background-color: green;
    background-image: url(img/lamp-png-34914.png),url(img/58eb07b830eab15b56162788.png),url(img/3F3F.webp), url(img/3F3F.webp);
    background-repeat: repeat-x,  repeat-y,repeat-y, repeat-x;
    background-size: 60px,  45px, 45px, 200px ;
    background-position: top, right, left, bottom;
    width: 100vh;
    height: 100%;
   
   
}
.bg-box{
    background-image: url(img/pole-zelen-trava-dom-derevya.webp);
    width: 800px;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    
}

